.btn-white{
    border: none;
    border-radius: 25px;
    background-color: white;
    color: $primary-color;
    padding: .5rem 1rem;
}
.btn-pry{
    border: none;
    border-radius: 25px;
    background-color: $primary-color;
    color: white;
    padding: .5rem 1rem;
    // font-size: .6rem;
}