// COLORS

//PRIMARY COLOR
$primary-color: #e8071a;
$primary-color-light-1: #e8bf07;
$primary-color-light-2: #2FBCB4;


// WHITE
$primary-white: #fff;

// PINK
$secondary-color: #FF8674;
$secondary-color-dark-1: #F4796C;

// GREY
$grey-dark-1: #505F68;

// BLACK
$color-black-1: #FFFFFF00;
$color-black-2: #2F94E00F;

// FONT-SIZES
$default-font-size: 1.6rem;

// Box shadow
$light-shadow-1: 0px 4px 4px rgba(80, 95, 104, 0.15);